body{
    background-image: url("open_peeps.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center bottom;
    background-size: auto;
    font-family: 'Dongle', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}
#titre{
    text-align: center;
    font-size: 100px;
}
#final{
    width: 200px;
    height: 50px;
    margin: 20px;
}

#get_started{
    display: flex;
    justify-content: center;
    align-items: center; 
}
#get_started button{
    font-size: 20px;
}
.result{
    font-size: 60px;
}
.text_body{
display: flex;
justify-content: center;
font-size: 30px;    
}
h2{
    margin-bottom:0;
}
#name_selection{
  text-align: center;  
}
.selection_title{
padding: 0;
margin-top: 50px;
margin-right: 100px;
margin-bottom: 20px;
    
}
.radio_buttons{
   margin-bottom: 10px;
}
.button_styling{
    background-color: black;
    color: white; 
    width: 250px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
}
/*
.next{
display: flex;
align-items: flex-end;
}
*/
#start-over-btn{
    margin-top: 30px;
}




